.footer {
  padding: 0.5%;
}

/* Content.css */

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.zoom-card:hover {
  transform: scale(0.95); /* Zoom out effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add shadow effect */
}

